*.pth
*.exe
*.pkg
*.dat
*.xlsx
*.pyz
*.wav
*.html
*.toc
*.doc
Log*.txt
Sync*.txt
Transfer*.txt
Move*.txt
*.jpg
*.zip
*.egp
*.png
*.pyc
*.m3u
*.PNG
*.m4a
*.webp
*.pbix
Read_PL.py
WMP_Read_PL.py
*Sync*
Z-*
z-*
*__init__.py
GUI*
Mp3Tag/
Excel/
E-commerce/
PowerBI/
Shortcuts/
Cloud/
Job*/
# Note the below has a escape char (backslash) for the special character blank
Exe\ Sync/

