*.pth
*.exe
*.pkg
*.dat
*.xlsx
*.pyz
*.wav
*.html
*.toc
*.doc
*.docx
Log*.txt
Sync*.txt
*.jpg
*.zip
*.egp
*.png
*.pyc
*.m3u
*.PNG
*.m4a
*.webp
*.pbix
Mp3Tag/
Excel/
Fazer/
E-commerce/
PowerBI/
Shortcuts/
Snowflake/
iTunes*/
Z-*
z-*
_init_*
