*.pth
*.exe
*.pkg
*.dat
*.xlsx
*.pyz
*.wav
*.html
*.toc
*.doc
Log*
Sync*
Transfer*
*.jpg
*.zip
*.egp
*.png
*.pyc
*.m3u
*.PNG
*.m4a
*.webp
*.pbix
Z-*
z-*
*__init__.py
Mp3Tag/
Excel/
Fazer/
E-commerce/
PowerBI/
Shortcuts/
Cloud/
Job*/

